rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Müşterilerin menüyü okumasına izin ver
    match /menuItems/{menuItem} {
      allow read: if true; 
      // Sadece giriş yapmış Admin yazabilir
      allow write: if request.auth != null; 
    }

    // Müşterilerin sipariş oluşturmasına izin ver
    match /orders/{order} {
      allow create: if true;
      // Sadece giriş yapmış Admin okuyabilir/güncelleyebilir
      allow read, update: if request.auth != null; 
    }
    
    // Masa ayarları, envanter, kasa vb. sadece Admin'e açık olmalı
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}